body {
    font: 20px American Typewriter, serif;
    line-height: 1.8;
    color: #b33b72;
    background-color: #EEE7E8;
    padding-top: 0px !important;
  }

.textcontainer {
  padding: 2% 10%;;
}

p {font-size: 16px;}
.margin {margin-bottom: 30px;}

a {
  color: #000000;
}

.container-fluid {
  padding: 0px;
  /*padding-bottom: 70px;*/
}

nav {
  background-color:rgba(255, 255, 255, 0.85);
  color: #EEE7E8;
  padding: 50px 0px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.nav-title{
  margin-left: 15px;
  margin-right: 15px;
  color: #b33b72;
}

.nav-link {
  border: 3px outset #b33b72;
  border-radius: 20px;
  padding: 10px 30px;
  background-color: #b33b72;
  color: #EEE7E8;
  transition: 0.3s;
}

.nav-link:hover {
  border: 3px outset #FFFFFF;
  border-radius: 20px;
  padding: 10px 30px;
  background-color: #b33b72;
  transition: 0.3s;
}

#btn {
  border: 3px outset #FFFFFF;
  border-radius: 40px;
  padding: 10px 30px;
  background-color: #b33b72;
  color: #000000;
  transition: 0.3s;
}

#btn:hover {
  border: 3px inset #FFFFFF;
  border-radius: 40px;
  padding: 10px 30px;
  background-color: #b33b72;
  transition: 0.3s;
}

.row {
  margin: auto auto;
}

.flexrow {
  display: flex;
  justify-content: space-evenly;
}

.center-row {
  display: flex;
  justify-content: center;
}

code {
  background-color: #2d2b33;
  color: #EEE7E8;
  font-family: 'Courier New', Courier, monospace;
}

.caption {
  color: gray;
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

#aboutme {
  padding: 20px;

  
}